* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin-left:10vw;
    margin-right:10vw;
    background-color:#E5E4E2;
}

h1 {
    margin-bottom:0px;
}

div.pagecontent {
    position:absolute;
    top:120px;
    width:80%;
}

a.navlink {
    color: black;
    text-decoration:none;
    display:inline-block;
    padding-right:30px;
    margin-bottom:0px;
}

    span.navlinkicon {
        margin:0;
        display:none;
    }

    a.navlink:hover .navlinkicon {display:inline-block}