body {
    margin-left:200px;
    margin-right:200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#E5E4E2;
}

h1 {
    margin-bottom:0px;
}

.headers {
    position:absolute;
    top:0px;
}

.pagecontent {
    position:absolute;
    top:120px;
    width:70vw;
}

.navlink {
    color: black;
    text-decoration:none;
    display:inline-block;
    padding-right:30px;
    margin-bottom:0px;
}

.navlinkicon {
    margin:0;
    display:none;
    font-size:18pt;
}

.navlink:hover .navlinkicon {display:inline-block}
